/* ---MIXINS--- */
/* ---MEDIA--- */
@media (max-width: 1200px) { .contact-section .contact-columns .my-data .my-btn-container { padding-left: 0; } }

@media (max-width: 992px) { #square1 { top: 12%; right: -60%; }
  #square2 { top: 60%; left: -60%; } }

@media only screen and (max-device-width: 768px) { #square1, #square2 { display: none; }
  .my-navbar .my-buttons { display: none; }
  .my-navbar .my-nav-ul .my-link { padding: 0; }
  .my-navbar .my-nav-ul .my-link .go-to-section { font-size: 2.2em; }
  .contact-section .contact-columns .my-data .my-btn-container { padding-left: 0; }
  .contact-section .contact-columns .my-data .my-btn-container .my-btn { pointer-events: none; }
  .contact-section .contact-columns .my-data .my-btn-container .my-btn .contact-icon-description { font-size: 1.7em; } }

@media (max-width: 768px) { #square1 { top: 5%; right: -90%; }
  #square2 { top: 60%; left: -90%; }
  .section { padding-top: 70px; }
  .section .line { width: 13%; }
  .my-navbar .navbar-collapse .my-nav-ul { display: flex; justify-content: space-around; flex-wrap: wrap; } }

@media (max-width: 576px) { #square1 { top: 5%; right: -110%; }
  #square2 { top: 55%; left: -110%; }
  .my-navbar .navbar-collapse .my-nav-ul .go-to-section { padding: 2px; }
  .section { width: 85%; line-height: 4em; }
  .contact-section .contact-columns .my-data .my-btn-container { padding-left: 0; }
  .contact-section .contact-columns .my-data .my-btn-container .my-btn .fas, .contact-section .contact-columns .my-data .my-btn-container .my-btn .fab { width: 30px; height: 30px; line-height: 30px; }
  .contact-section .contact-columns .my-data .my-btn-container .my-btn .fas .contact-icon-description, .contact-section .contact-columns .my-data .my-btn-container .my-btn .fab .contact-icon-description { font-size: 1.7em; } }
